*{
  font-family: Tahoma;
  font-size: 1em;
  text-decoration: none;
}

.header-nav{
  background-color: #23689b;
  font-size: 1.5em;

}


.header-nav-ul-li{
  display: inline-block;
  background-color: #9FDFDB;
  padding: 10px;
  border-color: aliceblue;
  margin: 5px;
  border-radius: 5px;
}

 .header-nav-ul-li a:hover{
  color:  white;
}


.header-h2{
  background-color: #9FDFDB;
  font-size: 2em;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 10px 10px 10px;
}

.section{
  background-color: #DFF5F3;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 50px;
  padding-right: 50px;
}


.section-p{
    background-color: aliceblue;
    padding: 10px 30px 10px 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.section-code{
    display: block;
    background-color: beige;
    padding: 10px 10px 10px 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.section-h2{
  background-color: #9FDFDB;
  font-size: 1.2em;
  padding: 10px 10px 10px 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.section-ul{
  padding-left: 30px
}

.footer{
  background-color: #23689b;
  margin-left: 50px;
  margin-right: 50px;

}

.footer-bottoms{
  display: inline-block;
  background-color: #9FDFDB;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 10px;
}

.footer-copyright{

  margin-bottom: 100px;
  font-style: italic;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  text-align: right;
}
