:root{
    /*Primary colors*/
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink:hsl(333, 80%, 67%);

    /*Neutral colors*/
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
html::after,
html::before{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}

html::before{
    content: url(../assets/images/bg-pattern-top-mobile.svg);
}

@media screen and (min-width: 768px){
    html::before{
        content: url(../assets/images/bg-pattern-top-desktop.svg);
    }   
}

html::after{
    content: url(../assets/images/bg-pattern-bottom-mobile.svg);
    position: fixed;
    bottom: -25%;
    right: 0;
}

@media screen and (min-width: 768px){
    html::after{
        content: url(../assets/images/bg-pattern-bottom-desktop.svg);
    }   
}

body{
    font-family: "Spartan";
    padding: 0 20px;
    font-size: 15px;
    background-color: white;
}

@media screen and (min-width: 768px){
    body{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-items: end;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 800px);
    }
}

.header{
    text-align: center;
    padding: 100px 50px 30px;
}

@media screen and (min-width: 768px){
    .header{
        text-align: left;
        font-size: 1.4rem;
        font-weight: 700;
        grid-column: 1/2;
        padding-left: 0;
        padding-right: 0;
    }   
    .header__subtitle{
        font-size: 1.2rem;
    }
}

.header__title{
    color: var(--veryDarkMagenta);
    font-weight: 700;
}

.header__subtitle{
    color: var(--darkGrayishMagenta);
    font-weight: 400;
}

.rates{
    text-align: center;
}

@media screen and (min-width: 768px){
    .rates{
        /* border: 5px solid red; */
        margin-bottom: 0;
        margin-top: 100px;
        grid-column: 2 / 4;
    }
}

.rated{
    background-color: var(--lightGrayishMagenta);
    margin: 15px;
    padding: 10px 25px;
    border-radius: 5px;
}

@media screen and (min-width: 768px){
    .rated{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 500px;
        position: relative;
    }

    .rated:first-child{
        left:-150px;
    }

    .rated:nth-child(2){
        left:-75px;
    }
}

.rated:last-child{
    margin-bottom: 50px;
}

.rated__star{
    background-color: orange;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    clip-path: polygon(50% 0, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@media screen and (min-width: 768px){
    .rated__star{
        margin-right: 0;
    }
    .rated__star:last-of-type{
        margin-right: 50px;
    }
}

.rated__text{
    font-weight: 700;
}

@media screen and (min-width: 768px){
    .testimonials{
        width: 100%;
        /* border: 5px solid red; */
        display: flex;
        align-items: start;
        justify-content: space-between;
        grid-column: 1 / 4;
        grid-row: 2;
    }
}

.testimonial{
    background-color: var(--veryDarkMagenta);
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px){
    .testimonial{
        /* width: 200px; */
        margin-bottom: 0;
        margin-top: -250px;
        width: 400px;
        position: relative;
    }
    .testimonial:nth-child(2){
        top: 25px;
    }
    .testimonial:last-child{
        top: 50px;
    }
}

.testimonial__header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__author{
    margin-left: 20px;
}

.testimonial__title{
    font-size: 15px;
    color: var(--lightGrayishMagenta);
    margin: 0;
}

.testimonial__subtitle{
    color: var(--softPink);
    margin: 0; 
    font-weight: 300;
}

.testimonial__img{
    display: block;
    border-radius: 50%;
    max-width: 25%;
}

.testimonial__text{
    color: var(--lightGrayishMagenta);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
}