nav{
  background: #eb5e0b;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.nav__a{
  background: salmon;
  color:#ffff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
}

.nav__a:hover{
  background: rosybrown;
}

.columna{
  background: #5eaaa8;
  padding: 20px;
  color: #f8f1f1;
  margin: 10px;
  width: 25%;
}

.padre{
  display: flex;
}

.nav__button{
  background: salmon;
  color: #ffff;
  padding: 10px 0;
  border: 2px solid #ffff;
  display: none;
}

@media (max-width: 600px) {
    nav{
      flex-direction: column;
    }
    .nav__a{
      margin: 10px 0px
    }

    .nav__button{
      display: inline-block;
    }

    .desaparece{
      display:none;
    }
}
